name: Build Binary

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.8'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libsystemd-dev

      - name: Build binary
        run: |
          CGO_ENABLED=1 go build -mod=readonly \
            -ldflags "-extldflags='-Wl,-z,lazy' -X 'github.com/coroot/coroot-node-agent/flags.Version=${{ github.ref_name }}'" \
            -o coroot-node-agent-amd64 .

      - name: Upload to release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload v1.29.0 coroot-node-agent-amd64 --clobber || \
          gh release create v1.29.0 coroot-node-agent-amd64 --title "v1.29.0 with --disable-gpu-monitoring" --notes "Test build"
